@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");
.wrapper {
  background-color: #292929;
}

.wrapper .header-section {
  min-height: 180px;
}

.wrapper .header-section .building {
  position: relative;
  left: -300px;
}

.wrapper .header-section .nav-block {
  z-index: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: 76px;
}

@media (max-width: 992px) {
  .wrapper .header-section .nav-block {
    -ms-flex-pack: distribute;
    justify-content: flex-start;
  }
}

@media (max-width: 577px) {
  .wrapper .header-section .nav-block {
margin-left: -20px;
  }
}

.wrapper .header-section .nav-block .nav-link {
  z-index: 500;
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  margin-left: 70px;
  font-weight: 500;
}

.nav-link:hover {
  color: red !important;
}

.wrapper .header-section .nav-block .nav-link:after {
  top: 52px;
  margin-left: 12.9px;
  display: block;
  position: absolute;
  left: 25%;
  /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 36px;
  /*задаём длинну линии до наведения курсора*/
  height: 4px;
  /*задаём ширину линии*/
  background-color: #f4222c;
  /*задаём цвет линии*/
  content: "";
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
  /*задаём время анимации*/
}

/* .wrapper .header-section .nav-block .nav-link:hover:after,
.wrapper .header-section .nav-block .nav-link:focus:after {
  width: 80%;
} */
/*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/

@media (max-width: 992px) {
  .wrapper .header-section .nav-block .nav-link {
    margin-left: 0px;
  }
}

@media (max-width: 576px) {
  .wrapper .header-section .nav-block .nav-link {
    display: none;
  }
}

@media (max-width: 767px) {
  .nav-link {
    font-size: 11px;
  }
}

.wrapper .header-section .nav-block .nav-link:focus {
  color: #f0222c;
}

.wrapper .header-section .back {
  width: 90%;
  border: 2px solid transparent;
  -o-border-image: linear-gradient(
    to bottom,
    transparent 40%,
    transparent 22%,
    #7b2124 76%
  );
  border-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(40%, transparent),
    color-stop(22%, transparent),
    color-stop(76%, #7b2124)
  );
  border-image: linear-gradient(
    to bottom,
    transparent 40%,
    transparent 22%,
    #7b2124 76%
  );
  border-image-slice: 23;
  height: 57px;
}

@media (max-width: 899px) {
  .wrapper .header-section .back {
    width: 100%;
  }
}

.wrapper .header-section .back .burger {
  display: none;
}

@media (max-width: 576px) {
  .wrapper .header-section .back .burger {
    display: block;
    margin-left: 60px;

  }
  .wrapper .header-section .back .burger .header__menu.active {
    top: 0px;
    left: 0;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  .wrapper .header-section .back .burger .header__menu {
    background-color: #2c2e2f;
    position: fixed;
    left: 0;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
    top: -100%;
    width: 100%;
    height: 70%;
    z-index: 900000;
  }
  .wrapper .header-section .back .burger .active:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 11px !important;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
  .wrapper .header-section .back .burger .active span {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
  }
  .wrapper .header-section .back .burger .header__list li {
    list-style-type: none;
  }
  .wrapper .header-section .back .burger .header__list .nav-link {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    margin-left: 70px;
    font-size: 23px;
  }
  .wrapper .header-section .back .burger .header__list .nav-link:after {
    margin-left: 20px;
    display: block;
    position: absolute;
    left: 0;
    /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;
    /*задаём длинну линии до наведения курсора*/
    height: 4px;
    /*задаём ширину линии*/
    background-color: #f4222c;
    /*задаём цвет линии*/
    content: "";
    -webkit-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out;
    /*задаём время анимации*/
  }
  .wrapper .header-section .back .burger .header__list .nav-link:hover:after,
  .wrapper .header-section .back .burger .header__list .nav-link:focus:after {
    width: 20%;
    /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
  }
  .wrapper .header-section .back .burger .header__burger {
    position: relative;
    width: 30px;
    height: 20px;
    top: 20px;
  }
  .wrapper .header-section .back .burger .header__burger span {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 10px;
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
  }
  .wrapper .header-section .back .burger .header__burger::before,
  .wrapper .header-section .back .burger .header__burger ::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .wrapper .header-section .back .burger .header__burger::before {
    top: 20px;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
  .wrapper .header-section .back .burger .header__burger::after {
    bottom: 0px;
  }
}

@media (max-width: 576px) {
  .wrapper .header-section .back {
    border: none;
    -o-border-image: none;
    border-image: none;
    border-image-slice: none;
  }
}

.wrapper .header-section .city__block {
  /* Style for "Новосибирс" */
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  /* Text style for "Новосибирс" */
  font-style: normal;
  letter-spacing: 1.39px;
  line-height: normal;
  margin-left: -90px;
}

.wrapper .header-section .btn:focus {
  outline: 0;
  box-shadow: none;
}



.drop__tringle {
  color: white;
  display: none;
}


@media (max-width: 576px) {
  .drop__tringle {
    display: block;
  }

  .dropdown-menu {
    background-color: #212529;
  }

  .city__block__dropdown {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 300px;
    padding: 13px;
  }

.wrapper .header-section .img_point_field_drop {
  width: 55px;
  height: 55px;
}

.wrapper .header-section .dropdown {
  z-index: 200;
}


.wrapper .header-section .btn:focus {
  outline: 0;
  box-shadow: none;
}

.wrapper .header-section .dropdown-menu.show {
  margin-top: -10px;
}

.wrapper .header-section .btn:hover {
  color: #ffffff;
  text-decoration: none;
}

.wrapper .header-section .block__city__item {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}






@media (max-width: 1271px) {
  .wrapper .header-section .city__block {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .wrapper .header-section .city__block {
    margin-top: 1rem !important;
  }
}

@media (max-width: 576px) {
  .wrapper .header-section .city__block {
    display: none !important;
  }
}


@media (max-width: 576px) {
  .wrapper .header-section .city__block {
    display: none;
  }
}

.wrapper .header-section .city__block span {
  margin-left: 15px;
  /* Style for "Новосибирс" */
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  /* Text style for "Новосибирс" */
  font-style: normal;
  letter-spacing: 1.39px;
  line-height: normal;
}

.city__marafon > img {
  margin-right: -20px;
}

@media (max-width: 568px) {
  .city__marafon {
  display: none;
  }
}

.block__city__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 568px) {
  .block__city__item {
  margin-top: 10px;
  }
}

.city__marafon__1 {
  font-size: 13.8px !important;
  color: red !important;
  font-weight: 600 !important;
  margin-top: 12px !important;
  margin-left: -8px !important;
}

.city__marafon__2 {
  font-size: 13.8px !important;
  color: red !important;
  font-weight: 600 !important;
  margin-top: 12px !important;
  margin-left: -8px !important;
}
.city__marafon__3 {
  font-size: 13.8px !important;
  color: red !important;
  font-weight: 600 !important;
  margin-top: 12px !important;
  margin-left: -8px !important;
}

.city__marafon__4 {
  font-size: 13.8px !important;
  color: red !important;
  font-weight: 600 !important;
  margin-top: 12px !important;
  margin-left: -8px !important;
}

.city__marafon__5 {
  font-size: 13.8px !important;
  color: red !important;
  font-weight: 600 !important;
  margin-top: 12px !important;
  margin-left: -8px !important;
}

.city__marafon__6 {
  font-size: 13.8px !important;
  color: red !important;
  font-weight: 600 !important;
  margin-top: 12px !important;
  margin-left: -8px !important;
}

.city__marafon__7 {
  font-size: 13.8px !important;
  color: red !important;
  font-weight: 600 !important;
  margin-top: 12px !important;
}

@media (max-width: 1271px) {
  .wrapper .header-section .city__block spa n {
    margin-left: 12px;
  }
}

@media (max-width: 1200px) {
  .wrapper .header-section .city__block span {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .wrapper .header-section .city__block span {
    font-size: 14px;
  }

  @media (max-width: 768px) {
    .wrapper .header-section .city__block {
      flex-wrap: wrap;
    }
  }
}

.wrapper .card-rosp-section {
  min-height: 280px;
}

@media (max-width: 1077px) {
  .wrapper .card-rosp-section {
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .wrapper .card-rosp-section {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 410px) {
  .wrapper .card-rosp-section {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 476px) {
  .wrapper .card-rosp-section .card__display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.wrapper .card-rosp-section .card__border {
  border: 1px solid transparent;
  -o-border-image: linear-gradient(
    to top,
    transparent 40%,
    transparent 22%,
    #7b2124 76%
  );
  border-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(40%, transparent),
    color-stop(22%, transparent),
    color-stop(76%, #7b2124)
  );
  border-image: linear-gradient(
    to top,
    transparent 40%,
    transparent 22%,
    #7b2124 76%
  );
  border-image-slice: 23;
}

.wrapper .card-rosp-section .card {
  z-index: 190;
  padding: 30px;
  /* Style for "Прямоуголь" */
  width: 381px;
  height: 140px;
  -webkit-box-shadow: -9px 30px 25px 4px #222222;
  box-shadow: -9px 30px 25px 4px #222222;
  background-color: #262727;
}

@media (max-width: 1168px) {
  .wrapper .card-rosp-section .card {
    width: 308px;
  }
}

@media (max-width: 992px) {
  .wrapper .card-rosp-section .card {
    width: 280px;
  }
}

@media (max-width: 845px) {
  .wrapper .card-rosp-section .card {
    width: 220px;
  }
}

@media (max-width: 768px) {
  .wrapper .card-rosp-section .card {
    padding: 15px;
    margin-top: 20px;
    width: 180px;
    height: 194px;
  }
}

@media (max-width: 697px) {
  .wrapper .card-rosp-section .card {
    padding: 15px;
    margin-top: 20px;
    width: 140px;
    height: 194px;
  }
}

@media (max-width: 576px) {
  .wrapper .card-rosp-section .card {
    width: 400px;
    margin-left: 43px;
    padding: 5px;
    height: 120px;
  }
}

@media (max-width: 476px) {
  .wrapper .card-rosp-section .card {
    padding: 5px;
    width: 392px;
    height: 90px;
    text-align: center;
    margin-left: 5px;
  }
}

@media (max-width: 410px) {
  .wrapper .card-rosp-section .card {
    padding: 5px;
    width: 310px;
    height: 107px;
    text-align: center;
    margin-left: 15px;
  }
}


@media (max-width: 376px) {
  .wrapper .card-rosp-section .card {
    padding: 5px;
    width: 310px;
    text-align: center;
    margin-left: 15px;
  }
}

@media (max-width: 322px) {
  .wrapper .card-rosp-section .card {
    padding: 5px;
    margin-top: 20px;
    width: 260px;
    height: 90px;
  }
}

.wrapper .card-rosp-section .card .text p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 576px) {
  .wrapper .card-rosp-section .card .text p {
    font-size: 16px;
  }
}


.wrapper .card-rosp-section .card .text {
  color: #747272;
  text-align: center;
}

@media (max-width: 1168px) {
  .wrapper .card-rosp-section .card .text {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .wrapper .card-rosp-section .card .text {
    text-align: left;
  }
}

@media (max-width: 568px) {
  .wrapper .card-rosp-section .card .text {
    text-align: center;
  }
}

.wrapper .card-rosp-section .card span {
  color: white;
  font-weight: 700;
  font-size: 16px;
}

@media (max-width: 1168px) {
  .wrapper .card-rosp-section .card span {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .wrapper .card-rosp-section .card span {
    font-size: 18px;
  }
}

.wrapper .card-rosp-section .round__text {
  position: relative;
  left: 977px;
  top: -120px;
  z-index: 220;
}

@media (max-width: 1300px) {
  .wrapper .card-rosp-section .round__text {
    max-width: 180px;
    left: 921px;
    top: -229px;
  }
}

@media (max-width: 1200px) {
  .wrapper .card-rosp-section .round__text {
    display: none;
  }
}

.wrapper .card-rosp-section .apost {
  position: relative;
  top: -274px;
  left: 947px;
  z-index: 1;
}

@media (max-width: 1384px) {
  .wrapper .card-rosp-section .apost {
    max-width: 250px;
  }
}

@media (max-width: 1300px) {
  .wrapper .card-rosp-section .apost {
    top: -340px;
    max-width: 170px;
  }
}

@media (max-width: 1200px) {
  .wrapper .card-rosp-section .apost {
    top: -140px;
    max-width: 110px;
    left: 825px;
  }
}

@media (max-width: 1051px) {
  .wrapper .card-rosp-section .apost {
    display: none;
  }
}

.three__days__section {
  margin-top: 60px;
  margin-left: 392px;
}


.wrapper .days-title-section img {
  width: 50%;
  height: auto;
 margin-left: 353px;
 margin-top: 40px;
}


.wrapper .days-title-section img {
  width: 50%;
  height: auto;
  margin-left: 353px;
  margin-top: 40px;
  }
  
  .wrapper .days-title-section .foure_speakers {
    width: 26%;
    display: flex;
    margin: auto;
    margin-bottom: 25px;
    }


@media (max-width: 767px) {
  .wrapper .days-title-section img {
   margin-left: -7px;
   width: 100%;
   margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .wrapper .days-title-section img {
   margin-left: -7px;
   width: 100%;
   margin-top: -40px;
  }
  .wrapper .days-title-section .foure_speakers {
    width: 60%;
    display: flex;
    margin: auto;
    }
  
}
.wrapper .card__days__section .second__days {
  margin-left: -107px;
}

@media (max-width: 1271px) {
  .wrapper .card__days__section .second__days {
    margin-left: 0;
  }
}

.wrapper .card__days__section .third__days {
  margin-left: -107px;
}

@media (max-width: 1271px) {
  .wrapper .card__days__section .third__days {
    margin-left: 0;
  }
}


@media (max-width: 1271px) {
  .wrapper .card__days__section img{
    width: 100%;
  }
}

.wrapper .mobile_card__days__section {
  display: none;
}



@media (max-width: 552px) {
  .wrapper .card__days__section {
   display: none;
  }
  .wrapper .mobile_card__days__section {
    display: block;
  }

  .wrapper .mobile_card__days__section .first_day_rosp{
    display: flex;
    margin: auto;
    max-width: 120px;
  }
  .wrapper .mobile_card__days__section .days_one {
    display: flex;
    margin: 40px auto;
  }
  .wrapper .mobile_card__days__section .cards {
    display: flex;
    position: relative;
    top: -220px;
    margin: auto;
  }

  .wrapper .mobile_card__days__section .days_third {
    display: flex;
    margin: auto;
    position: relative;
    top: -260px;
  }


  .wrapper .mobile_card__days__section .card_rosp {
   width: 100%;
  }

  .wrapper .mobile_card__days__section .days-rosp {
    width: 40%;
    display: flex;
    margin: auto;
    margin-top: 20px;
  }

  .wrapper .mobile_card__days__section .rosp__ {
    position: relative;
    
  }

  .wrapper .mobile_card__days__section .coffee_brake {
    display: flex;
    margin: auto;
    position: relative; 
    top: -257px; 
  }

  .wrapper .mobile_card__days__section .result_mentor {
    display: flex;
    margin: auto;
    width: 47%;
  }

}



.wrapper .raspiasnie-tickets-section {
  margin-top: -18px;
  margin-left: 150px;
}

@media (max-width: 1386px) {
  .wrapper .raspiasnie-tickets-section img {
    margin-top: 30px;
    margin-left: -180px;
  }
}

@media (max-width: 1271px) {
  .wrapper .raspiasnie-tickets-section img {
    margin-top: 30px;
    margin-left: -270px;
  }
}

@media (max-width: 930px) {
  .wrapper .raspiasnie-tickets-section img {
    margin-top: 30px;
  }
}

@media (max-width: 596px) {
  .wrapper .raspiasnie-tickets-section img {
    display: none;
  }
}

@media (max-width: 1783px) {
  .wrapper .raspiasnie-tickets-section img {
    max-width: 1100px;
  }
}

@media (max-width: 1515px) {
  .wrapper .raspiasnie-tickets-section img {
    max-width: 950px;
  }
}

@media (max-width: 1386px) {
  .wrapper .raspiasnie-tickets-section img {
    margin-left: -120px;
    max-width: 750px;
  }
}

@media (max-width: 1082px) {
  .wrapper .raspiasnie-tickets-section img {
    max-width: 700px;
  }
}

@media (max-width: 1018px) {
  .wrapper .raspiasnie-tickets-section img {
    max-width: 600px;
  }
}

@media (max-width: 992px) {
  .wrapper .raspiasnie-tickets-section img {
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .wrapper .raspiasnie-tickets-section img {
    max-width: 620px;
  margin-left: -290px;

  }
}

@media (max-width: 654px) {
  .wrapper .raspiasnie-tickets-section img {
    max-width: 330px;
  }
}

.wrapper .buy-card-rosp-section {
  min-height: 500px;
  margin-left: -150px;
}

@media (max-width: 767px) {
  .wrapper .buy-card-rosp-section {
    margin-left: 0px;

  }
}

@media (max-width: 767px) {
  .wrapper .buy-card-rosp-section {
    margin-left: 0px;

  }
}




.wrapper .buy-card-rosp-section .modal {
  z-index: 9000000000000 !important;
}

.wrapper .buy-card-rosp-section .modal-header {
  padding-left: 45px;
  border-bottom: none;
  border: 2px solid transparent;
  -o-border-image: linear-gradient(
    to top,
    transparent 8%,
    transparent 22%,
    #7b2124 76%
  );
  border-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(8%, transparent),
    color-stop(22%, transparent),
    color-stop(76%, #7b2124)
  );
  border-image: linear-gradient(
    to top,
    transparent 8%,
    transparent 22%,
    #7b2124 76%
  );
  border-image-slice: 23;
}

.wrapper .buy-card-rosp-section .modal-header .close {
  color: white;
}

.wrapper .buy-card-rosp-section .modal-title {
  /* Style for "стать парт" */
  border: 1px solid #bf5fe7;
  text-shadow: 0 35px 49px rgba(31, 31, 31, 0.27);
  color: #fefefe;
  font-family: "Muller Black";
  font-size: 38px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 37.19px;
  text-align: left;
  text-transform: uppercase;
  /* Text style for "стать , па" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.wrapper .buy-card-rosp-section .individual {
  margin-left: 81px;
  /* Style for "Заполни да" */
  color: #888888;
  font-size: 15px;
  text-align: left;
  font-weight: 300;
  margin-top: -86px;

}

@media (max-width: 438px) {
.wrapper .buy-card-rosp-section .individual {
  margin-left: 18px;
}
}


.wrapper .buy-card-rosp-section .modal-body {
  margin-bottom: -23px;
}

.wrapper .buy-card-rosp-section .field {
  color: #888888;
  font-size: 15px;
  text-align: center;
  font-weight: 300;
  margin-top: 20px;
}

.wrapper .buy-card-rosp-section .input__group {
  margin-left: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}



.wrapper .buy-card-rosp-section .input__group .inp {
  /* Style for "Поле ввода" */
  border: 1px solid;
  /* Style for "Поле ввода" */
  width: 296px;
  height: 47px;
  border-radius: 23px;
  border-color: #4f4f4f;
  background-color: #282828;
  margin-top: 10px;
  color: white;
  padding-left: 20px;
  outline: none;
}
@media (max-width: 438px) {
  .wrapper .buy-card-rosp-section .input__group .inp{
    margin-left: -67px;
  }
}

@media (max-width: 350px) {
  .wrapper .buy-card-rosp-section .input__group .inp{
    margin-left: -91px;
  }
}

.wrapper .buy-card-rosp-section .input__group .inp::-webkit-input-placeholder {
  color: #ffffff;
  font-weight: 200;
}

.wrapper .buy-card-rosp-section .input__group .inp:-ms-input-placeholder {
  color: #ffffff;
  font-weight: 200;
}

.wrapper .buy-card-rosp-section .input__group .inp::-ms-input-placeholder {
  color: #ffffff;
  font-weight: 200;
}

.wrapper .buy-card-rosp-section .input__group .inp::placeholder {
  color: #ffffff;
  font-weight: 200;
}

.wrapper .buy-card-rosp-section .modal-content {
  background-color: #282828;
}

.wrapper .buy-card-rosp-section .modal-footer {
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrapper .buy-card-rosp-section .modal-footer .btn__modal {
  /* Style for "Кнопка" */
  width: 241px;
  height: 55px;
  color: white;
  font-weight: 500;
  -webkit-box-shadow: -1px 7px 32px rgba(9, 9, 9, 0.13),
    inset 0 3px 0 rgba(0, 0, 0, 0.18), 0 0 24px rgba(211, 101, 94, 0.15);
  box-shadow: -1px 7px 32px rgba(9, 9, 9, 0.13),
    inset 0 3px 0 rgba(0, 0, 0, 0.18), 0 0 24px rgba(211, 101, 94, 0.15);
  border-radius: 27px;
  background-color: #2c3a48;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f95043),
    to(#d63529)
  );
  background-image: linear-gradient(to bottom, #f95043 0%, #d63529 100%);
  margin-bottom: 20px;
}

.wrapper .buy-card-rosp-section .modal-footer .btn__modal:focus {
  outline: none;
}

@media (max-width: 900px) {
  .wrapper .buy-card-rosp-section {
    margin-top: 45px;
  }
}

@media (max-width: 576px) {
  .wrapper .buy-card-rosp-section {
    margin-top: -140px;
    margin-left: 0;
  }
}



.wrapper .buy-card-rosp-section .main__block__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 576px) {
  .wrapper .buy-card-rosp-section .main__block__card {
    margin-bottom: 20px;
  }
}



.wrapper .buy-card-rosp-section .main__block__card .title {
  margin-bottom: 10px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 65px;
  font-weight: 1000;
  font-style: normal;
  letter-spacing: normal;
  line-height: 360.43px;
  text-align: center;
  /* Text style for "1,  день" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

@media (max-width: 768px) {
  .wrapper .buy-card-rosp-section .main__block__card .title {
    font-size: 40px;
  }
}

.wrapper .buy-card-rosp-section .main__block__card .item__text {
  margin-top: 20px;
  color: #d0cece;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  /* Text style for "Л, екции о" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.item__text > p {
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .wrapper .buy-card-rosp-section .main__block__card .item__text {
    font-size: 16px;
  }
}

.wrapper .buy-card-rosp-section .main__block__card .item__price {
  /* Style for "5 000₽" */
  margin-top: 60px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: normal;
  line-height: 95.06px;
  text-align: center;
}

@media (max-width: 768px) {
  .wrapper .buy-card-rosp-section .main__block__card .item__price {
    font-size: 20px;
    margin-top: 8px;
  }
}

.wrapper .buy-card-rosp-section .main__block__card .item__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50px;
}

.wrapper .buy-card-rosp-section .main__block__card .item__button .btn {
  /* Style for "Кнопка" */
  width: 217px;
  height: 67px;
  border-radius: 33px;
  background-color: #2c3a48;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f95043),
    to(#d63529)
  );
  background-image: linear-gradient(to bottom, #f95043 0%, #d63529 100%);
  color: white;
  font-weight: 900;
}

@media (max-width: 768px) {
  .wrapper .buy-card-rosp-section .main__block__card .item__button .btn {
    max-width: 140px;
    height: 47px;
    margin-top: 0px;
  }
}

@media (max-width: 768px) {
  .wrapper .buy-card-rosp-section .main__block__card .item__button {
    margin-top: 0px;
  }
}

.wrapper .buy-card-rosp-section .card {
  padding: 30px;
  /* Style for "Прямоуголь" */
  width: 340px;
  min-height: 340px;
  -webkit-box-shadow: -9px 30px 25px 4px #222222;
  box-shadow: -9px 30px 25px 4px #222222;
  background-color: #262727;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(
    to top,
    transparent 8%,
    transparent 22%,
    #7b2124 76%
  );
  border-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(8%, transparent),
    color-stop(22%, transparent),
    color-stop(76%, #7b2124)
  );
  border-image: linear-gradient(
    to top,
    transparent 8%,
    transparent 22%,
    #7b2124 76%
  );
  border-image-slice: 23;
}

@media (max-width: 768px) {
  .wrapper .buy-card-rosp-section .card {
    max-width: 230px;
    min-height: 306px;
  }
}

@media (max-width: 568px) {
  .wrapper .buy-card-rosp-section .card {
    max-width: 270px;
    padding: 18px;
  }
}

.wrapper .buy-card-rosp-section .card .text {
  color: #747272;
  text-align: center;
}

.wrapper .buy-card-rosp-section .card span {
  color: white;
}

.wrapper .footer-section {
  margin-top: 110px;
  min-height: 350px;
}

.wrapper .footer-section .block__card__partn {
  margin-left: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: center;
  align-content: center;
}

@media (max-width: 992px) {
  .wrapper .footer-section .block__card__partn {
    margin-left: 8px;
  }
}

@media (max-width: 577px) {
  .wrapper .footer-section .block__card__partn {
    margin-top: 140px;
  }
}

.wrapper .footer-section .block__card__partn .partn__img {
  max-width: 165px;
  height: 60px;
}

@media (max-width: 768px) {
  .wrapper .footer-section .block__card__partn .partn__img {
    max-width: 160px;
    height: 40px;
  }
}

.wrapper .footer-section .block__card__partn .item__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

@media (max-width: 575px) {
  .wrapper .footer-section .item__card--3 {
  display: none !important;
  }
}

@media (min-width: 577px) {
  .wrapper .footer-section .item__card--33 {
  display: none !important;
  }
}

@media (max-width: 575px) {
  .wrapper .footer-section .item__card--33 {
 margin: 1rem auto;
  }
}

/* @media (max-width: 480px){
  .wrapper .footer-section .item__card--33 {
  margin-top: 10px;
  margin-left: 96px;
  }
}

@media (max-width: 421px){
  .wrapper .footer-section .item__card--33 {
  margin-top: 10px;
  margin-left: 90px;
  }
}

@media (max-width: 380px){
  .wrapper .footer-section .item__card--33 {
  margin-top: 10px;
  margin-left: 75px;
  }
} */

@media (max-width: 575px) {
  .wrapper .footer-section .item__card--33 .social__icon {
 display: flex;
 justify-content: space-around;
 padding: 10px;
  }
}


.wrapper .footer-section .block__card__partn .item__card .social__icon {
  margin-top: 15px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: center;
  align-content: center;
}

@media (max-width: 768px) {
  .wrapper .footer-section {
    margin-top: 0px;
  }
}

@media (max-width: 768px) {
  .wrapper .footer-section {
    margin-top: 0px;
  }
}

@media (max-width: 576px) {
  .wrapper .footer-section {
    margin-top: 60px;
    padding-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .wrapper .footer-section .logo__footer {
    max-width: 450px;
  }
}

@media (max-width: 992px) {
  .wrapper .footer-section .logo__footer {
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .wrapper .footer-section .logo__footer {
    max-width: 200px;
  }
}

@media (max-width: 576px) {
  .wrapper .footer-section .logo__footer {
    max-width: 330px;
  }
}



.wrapper .footer-section .block__partners__footer {
  display: flex;
}

@media (max-width: 577px) {
  .wrapper .footer-section .block__partners__footer  {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }
}

@media (min-width: 576px) {
  .wrapper .footer-section  .footer__links__mobile {
display: none;
  }
}

@media (max-width: 575px) {
  .wrapper .footer-section  .footer__links__mobile {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 128px;
  }
}

@media (max-width: 520px) {
  .wrapper .footer-section  .footer__links__mobile {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 123px;
  }
}


@media (max-width: 482px) {
  .wrapper .footer-section  .footer__links__mobile {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 73px;
  }
}

@media (max-width: 422px) {
  .wrapper .footer-section  .footer__links__mobile {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 53px;
  }
}

@media (max-width: 322px) {
  .wrapper .footer-section  .footer__links__mobile {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 3px;
  }
}

@media (max-width: 576px) {
  .wrapper .footer-section .footer__links__mobile .item_link {
    margin-top: 10px;
    color: #949494;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-decoration: underline;
    font-style: normal;
    letter-spacing: 0.3px;
    line-height: normal;
  }
}

.wrapper .footer-section .block__partners__footer .footer__txt__partners {
  margin-top: 20px;
  /* Style for "стать парт" */
  color: #f7f7f7;
  font-size: 20px;
  font-weight: 300;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .wrapper .footer-section .block__partners__footer .footer__txt__partners {
    font-size: 17px;
  }
}

@media (max-width: 769px) {
  .wrapper .footer-section .block__partners__footer .footer__txt__partners {
    font-size: 14px;
    margin-top: 0;
  }
}

@media (max-width: 577px) {
  .wrapper .footer-section .block__partners__footer .footer__txt__partners {
    font-size: 20px;
    margin-top: 0;
    text-align: center;
  }
}


@media (max-width: 576px) {
  .wrapper .footer-section .block__contact__footer {
    display: block;
    margin-top: -200px;
  }
}

@media (max-width: 520px){
  .wrapper .footer-section .block__contact__footer {
    margin-top: -212px;
    margin-left: 90px;
  }
}

@media (max-width: 480px){
  .wrapper .footer-section .block__contact__footer {
    margin-top: -212px;
    margin-left: 50px;
  }
}

@media (max-width: 422px){
  .wrapper .footer-section .block__contact__footer {
    margin-top: -212px;
    margin-left: 50px;
  }
}

@media (max-width: 382px){
  .wrapper .footer-section .block__contact__footer {
    margin-top: -212px;
    margin-left: 34px;
  }
}

@media (max-width: 322px){
  .wrapper .footer-section .block__contact__footer {
    margin-top: -212px;
    margin-left: 0px;
  }
}

.wrapper .footer-section .block__contact__footer .phone__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.wrapper .footer-section .block__contact__footer .phone__block .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 6px;
}

.wrapper
  .footer-section
  .block__contact__footer
  .phone__block
  .phone
  .img__phone {
  margin-left: 22px;
  margin-right: 22px;
  max-width: 30px;
  height: 20px;
}

@media (max-width: 992px) {
  .wrapper
    .footer-section
    .block__contact__footer
    .phone__block
    .phone
    .img__phone {
    max-width: 15px;
    height: 15px;
  }
}

.wrapper
  .footer-section
  .block__contact__footer
  .phone__block
  .phone
  .txt__number {
  /* Style for "+7 927 566" */
  color: #f7f7f7;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  /* Text style for "+7 927 566" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

@media (max-width: 992px) {
  .wrapper
    .footer-section
    .block__contact__footer
    .phone__block
    .phone
    .txt__number {
    font-size: 22px;
  }
}


.wrapper .footer-section .block__contact__footer .mail__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: -29px;
}

.wrapper .footer-section .block__contact__footer .mail__block .img__mail {
  margin-left: 22px;
  margin-right: 22px;
  max-width: 30px;
  height: 20px;
}

@media (max-width: 992px) {
  .wrapper .footer-section .block__contact__footer .mail__block .img__mail {
    max-width: 15px;
    height: 15px;
  }
}

.wrapper .footer-section .block__contact__footer .mail__block .txt__mail {
  /* Style for "maraphon@m" */
  color: #f7f7f7;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  /* Text style for "maraphon@m" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

@media (max-width: 992px) {
  .wrapper .footer-section .block__contact__footer .mail__block .txt__mail {
    font-size: 22px;
  }
}

.wrapper .footer-section .block__contact__footer .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 22px;
}

@media (max-width: 576px) {
  .wrapper .footer-section .block__contact__footer .footer__links {
    display: none;
  }
}

/* @media (min-width: 576px) {
  .wrapper .footer-section  .footer__links__mobile {
display: none;
  }
}

@media (max-width: 575px) {
  .wrapper .footer-section  .footer__links__mobile {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 24px;
  }
}

@media (max-width: 576px) {
  .wrapper .footer-section .footer__links__mobile .item_link {
    margin-top: 10px;
    color: #949494;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-decoration: underline;
    font-style: normal;
    letter-spacing: 0.3px;
    line-height: normal;
  }
} */

.wrapper .footer-section .block__contact__footer .footer__links .item_link {
  margin-top: 10px;
  /* Style for "Публичная" */
  color: #949494;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-decoration: underline;
  /* Text style for "Публичная" */
  font-style: normal;
  letter-spacing: 0.3px;
  line-height: normal;
}

@media (max-width: 992px) {
  .wrapper .footer-section .block__contact__footer .footer__links .item_link {
    font-size: 12px;
  }
}